.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: #0c40eb;
}

.link:hover {
    /* color: #c51fee; */
    /* border-bottom: 2px solid #c51fee; */
    text-shadow: 0 0 3px blue;
    transition: text-shadow 300ms ease;
}

.active {
    composes: link;
    color: #c51fee;
}
