.list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.item {
    width: 116px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #000030;
    background-color: #eeeeee;
}

.text {
    composes: item;
    width: 100%;
}

.name {
    text-align: center;
}
